

<br><br>
<div class="container">
    <h1>hello</h1>
</div>

<div class="img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5IZ5V2lIyL4f0b0z5XXXdTSoytQ29A29oIZqO8WHzCg&s" width="2050px" height="300px">
</div><br>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-3">
        <div class="card">
       <h1> 6 lakh+</h1>
<h2>Trust Property to sell<br> online</h2></div>

    </div>
    <div class="col-sm-3"><div class="card">
        <h1> 11 Crore+</h1>
        <h2>Customers buying across<br>  India</h2></div>
    </div>
    <div class="col-sm-3"><div class="card">
        <h1> 28000+</h1>
        <h2>Pincode Supported for<br>  delivery</h2></div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <h1> 700+</h1>
            <h2>Categories to sell<br> online</h2></div>

        
    </div></div>
</div><br>
<div class="container-fluid">
<div class="row">
    <div class="col-sm-6"> <div class="dk">
      <h1>  
0% Commission Fee</h1>
<h2>Suppliers selling on Meesho keep 100% of<br> their profit by not paying any commission</h2>
    </div></div>
    <div class="col-sm-6">
        <div class="dk">
        <h1>0 Penalty Charges</h1>
<h2>Sell online without the fear of order cancellation <br>charges with 0 Penalty for late <br>dispatch or order cancellations.</h2>
    </div>
</div>


</div>

</div>