<div class="container-fluid">
  <div class="ankit">
    <nav class="navbar navbar-fixed-top" style="background-color:cornflowerblue; width: 100%;">
      <h2 style="text-align:center; margin-left: 500px;">Property Delar</h2>

      <a type="button" routerLink="/login" style="color:white">SellerLogin</a>
      <a type="button" routerLink="/sign" style="color:white">SellerSignup</a>
      <a type="button" routerLink="/loginn" style="color:white">OwnerLogin</a>
      <a type="button" routerLink="/purchasel" style="color:white">PurchaseLogin</a>
      <a type="button" routerLink="/purchases" style="color:white">PurchaseSignup</a>


      <a type="button" routerLink="/index" style="color:white">Logout</a>

    </nav>
  </div>
</div>