<app-header></app-header>
<div class="container">
    <form [formGroup]="formvalue" (ngSubmit)="addData()">
        <dt>Name</dt>
            <input type="text" formControlName="name" name="name" class="formcontrol">
        
        <dt>Address</dt>
            <input type="text" formControlName="address" name="name" class="formcontrol">
        
            <dt>Mobile</dt>
            <input type="text" formControlName="mobile" name="name" class="formcontrol">
        
            <dt>Email</dt>
            <input type="text" formControlName="email" name="name" class="formcontrol">
        
            <dt>Password</dt>
            <input type="text" formControlName="password" name="name" class="formcontrol">
        <button>submit</button>
    </form>
</div>
